header{
    display: flex;
    justify-content: space-between;
    scroll-behavior: disabled;
    width: 100%;
    background-color: grey;
    position: fixed;
    box-shadow: 0px 1px 10px 2px;
    border-radius: 0px 0px 5px 5px;
}
menu{
    display: flex;
    gap: 1em;
    padding-right: 5px;
}

.drop{
    color:green;
}
.drop .dropdown:hover{
    color: red;
}
menu select{
    border-radius: 8px;
    text-transform: capitalize;
}
main{
    padding-top: 150px;
    overflow: scroll;
    height: 80vh;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
article{
    display:flex;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
    border: 1px black solid;
    height: 10em;
    margin: 1em;
    flex-direction: column;
    
}
.title{
    font-size: larger;
    font-weight: bold;
}
.title-single-article{
    font-size:xx-large;
    font-weight: bolder;
}
article #article-text{
    height: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.information{
    display: flex;
    justify-content: space-around;
    font-size: small;
}

footer{
    text-align: center;
    
    box-shadow: 0px 0px 5px 1px;
    background-color: grey;
    width: 100%;
    position: fixed;
    height: 100%;
}


.single-comment{
    
    
    
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 0.5em;
    padding: 5px;
}

.single-comment span{
    height: max-content;
    font-size: smaller
}
.article-comments h3{
    
    text-decoration:underline
}